*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 100%;
    height: 100vh;
    background: #040302;
}
section{
    width: 100%;
    height: 35vh;
    float: left;
    padding: 1%;
}
#cs2{
    background: #D97A15;
}
#valorant{
    background: #F74352;
}
